body {
    padding: 0;
    margin: 0;
}
p {
    margin: 6px;
}

.title-big {
    font-size: 30px;
    font-weight: 900;
    color: #000000;
}
.title-medium {
    font-size: 24px;
    font-weight: 900;
    color: #000000;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: "mes mes" " aut reg";
}
.registration {
    grid-area: reg;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #000000;
    padding: 25px;
}
.registration form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.form-row {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.repeat-pass {
    width: 25%;
}
.autoresation {
    grid-area: aut;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 1px dotted #000000;
    padding: 25px;
}
.autoresation form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

}
.message {
    grid-area: mes;
    border: 1px dotted #000000;
    display: grid;
    justify-content: center;
    align-items: center;
}

.img-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.user-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "data action" "list list";
}
.your-date {
    grid-area: data;
    border: 1px dotted #000000;
    padding: 25px;
}
.actions-your-date {
    grid-area: action;
    border: 1px dotted #000000;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-list {
    grid-area: list;
    border: 1px dotted #000000;
    padding: 25px;
}
.user-top-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    border-bottom: 3px solid #000000;
    font-size: 22px;

}
.user-bottom-list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    border-bottom: 2px dotted #000000;

}
.user-top-list span, .user-bottom-list span{
    display: flex;
  justify-content: center;
    align-items: center;

}
