.title-big {
    font-size: 30px;
    font-weight: 900;
    color: #753313;
}
.title-medium {
    font-size: 24px;
    font-weight: 900;
    color: #753313;
}
.title-small {
    font-size: 14px;
    font-weight: 900;
    color: #753313;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    color: #ff0033;
}
.btn {
    margin: 5px;
    display: inline-block;
    background-color: #faebd7;
    color: #b97a57;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid #b97a57;
    border-radius: 10px;
    transition: 0.2s;
}
.btn:hover {
    background: #b97a57;
    color: #faebd7;
}
.btn:active {
    background: #faebd7;
    color: #b97a57;
}
body{
    background-color:  #e6d7c3;
    color: #753313;
}
p {
    margin: 5px;
}
.wrapper {
    background-color: #faebd7;
    border: 2px solid #b97a57;
    padding: 10px;

}
.input {
    margin: 5px;
    padding-left: 5px;
    height: 25px;
    border: 2px solid #b97a57;
    background-color:  #e6d7c3;
    border-radius: 10px;
}
.form-row {
    width: 85%;
}
.form-row span{
    margin-left: 5px;
    min-width: 100px;
    display: inline-block;
    word-wrap: break-word
}
.header .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0 ;
}
.logo-container {
    width: 30%;
    height: 150px;
    background-image: url("/application/views/templates/main/img/logo.png");
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 150px;
}
.auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 150px;
}
.footer .wrapper{
    height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.img-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.img-404 img{
    border-radius: 10px;
}
.repeat-pass {
    width: 15%;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: "mes" "aut" "reg";
}
.autoresation {
    grid-area: aut;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 25px;
}
.autoresation form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

}
.message {
    grid-area: mes;
    display: grid;
    justify-content: center;
    align-items: center;
}
.registration {
    grid-area: reg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.registration form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.registration form a{
   margin-top: 30px;
    margin-bottom: 30px;

}
.user-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 130px ;
}
.paginate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paginate a{
    margin: 5px;
}
.user-list {
    padding: 25px;
}
.user-top-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 3px solid #b97a57;
    font-size: 22px;
}
.user-bottom-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 2px dotted #b97a57;

}
.user-top-list span, .user-bottom-list span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-update-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px ;
}
.update {
    display: flex;
    justify-content: center;
}
.update form {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update p {
    margin:  20px 0px 5px 0px;
    display: flex;
    align-items: center;
}
.update-pass {
    display: flex;
    justify-content: center;
}
.update-pass form {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update-pass form a{
    margin-top: 30px;
    margin-bottom: 20px;
}
.update-pass p {
    text-align: center;
    margin-top: 20px ;
}
.delete {
    display: flex;
    justify-content: center;
    height: 450px;
}
.delete .title-medium{
    margin-top: 50% ;
}
.delete form {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delete form a{
  margin-top: 30px;
}
.delete p {
    margin-top: 15px ;
    margin-bottom: 15px ;
}
.message-request {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}
.message-request div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





